<div class="jumbotron">
  <h1>Welcome to the greatest app ever!</h1>
  <p>Have you ever missed a package because you don't have a fancy doorman or receptionist?  "appname" allows you to know when you're package will be delivered so you'll never miss a package again!  Simply sign up, enter your tracking numbers, and "appname" will send you a text when your package is out for delivery.</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a></p>
</div>
