<div class="jumbotron">
  <h1>Welcome to You've Got Mail!</h1>
  <p>Have you ever missed a package because you don't have a fancy doorman or receptionist?  "You've Got Mail" allows you to know when you're package will be delivered so you'll never miss a package again!  Simply sign up, enter your tracking numbers and schedules, and "You've Got Mail" will send you an email when your package is out for delivery.</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a></p>
</div>
